.git
.gitignore
.github
.idea
.vscode
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
.env
.env.*
!.env.example
*.md
docker-compose.yml
Dockerfile
.phpunit.result.cache
npm-debug.log
yarn-error.log
